.board, .board-new{
    cursor: pointer;
    background: #3498db;
    border-radius: 7px;
    height: 115px;
    padding: 2px 10px;
}
.board-new{
    background: #ecf0f1;
    text-align: center;    
}
.board-group{
    margin-bottom: 50px;
}
.board-title{
    color: #fff;
}
.board-title-create{
    color: #34495e;
    margin-top: 45px;
}